
.icon-cancel:before { content: '\e800'; } /* '' */
.icon-ok:before { content: '\e801'; } /* '' */
.icon-check-empty:before { content: '\e802'; } /* '' */
.icon-check:before { content: '\e803'; } /* '' */
.icon-search:before { content: '\e804'; } /* '' */
.icon-search-circled:before { content: '\e805'; } /* '' */
.icon-tag:before { content: '\e806'; } /* '' */
.icon-tags:before { content: '\e807'; } /* '' */
.icon-aboveground-rail:before { content: '\e808'; } /* '' */
.icon-cog:before { content: '\e809'; } /* '' */
.icon-minus-circled:before { content: '\e80a'; } /* '' */
.icon-down-open:before { content: '\e80b'; } /* '' */
.icon-left-open:before { content: '\e80c'; } /* '' */
.icon-right-open:before { content: '\e80d'; } /* '' */
.icon-up-open:before { content: '\e80e'; } /* '' */
.icon-headphones:before { content: '\e80f'; } /* '' */
.icon-volume-up:before { content: '\e810'; } /* '' */
.icon-volume-down:before { content: '\e811'; } /* '' */
.icon-flag:before { content: '\e812'; } /* '' */
.icon-thumbs-up:before { content: '\e813'; } /* '' */
.icon-thumbs-down:before { content: '\e814'; } /* '' */
.icon-download:before { content: '\e815'; } /* '' */
.icon-upload:before { content: '\e816'; } /* '' */
.icon-camera:before { content: '\e817'; } /* '' */
.icon-commerical-building:before { content: '\e818'; } /* '' */
.icon-plus:before { content: '\e819'; } /* '' */
.icon-minus:before { content: '\e81a'; } /* '' */
.icon-pencil:before { content: '\e81b'; } /* '' */
.icon-phone:before { content: '\e81c'; } /* '' */
.icon-folder:before { content: '\e81d'; } /* '' */
.icon-inbox:before { content: '\e81e'; } /* '' */
.icon-globe:before { content: '\e81f'; } /* '' */
.icon-play:before { content: '\e820'; } /* '' */
.icon-stop:before { content: '\e821'; } /* '' */
.icon-pause:before { content: '\e822'; } /* '' */
.icon-to-end:before { content: '\e823'; } /* '' */
.icon-to-end-alt:before { content: '\e824'; } /* '' */
.icon-to-start:before { content: '\e825'; } /* '' */
.icon-to-start-alt:before { content: '\e826'; } /* '' */
.icon-fast-fw:before { content: '\e827'; } /* '' */
.icon-fast-bw:before { content: '\e828'; } /* '' */
.icon-eject:before { content: '\e829'; } /* '' */
.icon-arrows-cw:before { content: '\e82a'; } /* '' */
.icon-ccw:before { content: '\e82b'; } /* '' */
.icon-cw:before { content: '\e82c'; } /* '' */
.icon-credit-card:before { content: '\e82d'; } /* '' */
.icon-guidedog:before { content: '\e82e'; } /* '' */
.icon-industrial-building:before { content: '\e82f'; } /* '' */
.icon-adult:before { content: '\e830'; } /* '' */
.icon-child-1:before { content: '\e831'; } /* '' */
.icon-home:before { content: '\e832'; } /* '' */
.icon-basket:before { content: '\e833'; } /* '' */
.icon-bag:before { content: '\e834'; } /* '' */
.icon-basket-1:before { content: '\e835'; } /* '' */
.icon-shop:before { content: '\e836'; } /* '' */
.icon-scissors:before { content: '\e837'; } /* '' */
.icon-pipette:before { content: '\e838'; } /* '' */
.icon-clipboard:before { content: '\e839'; } /* '' */
.icon-menu:before { content: '\f0c9'; } /* '' */
.icon-list-bullet:before { content: '\f0ca'; } /* '' */
.icon-list-numbered:before { content: '\f0cb'; } /* '' */
.icon-gplus-squared:before { content: '\f0d4'; } /* '' */
.icon-coffee:before { content: '\f0f4'; } /* '' */
.icon-food:before { content: '\f0f5'; } /* '' */
.icon-building:before { content: '\f0f7'; } /* '' */
.icon-beer:before { content: '\f0fc'; } /* '' */
.icon-desktop:before { content: '\f108'; } /* '' */
.icon-laptop:before { content: '\f109'; } /* '' */
.icon-tablet:before { content: '\f10a'; } /* '' */
.icon-mobile:before { content: '\f10b'; } /* '' */
.icon-smile:before { content: '\f118'; } /* '' */
.icon-frown:before { content: '\f119'; } /* '' */
.icon-meh:before { content: '\f11a'; } /* '' */
.icon-flag-empty:before { content: '\f11d'; } /* '' */
.icon-flag-checkered:before { content: '\f11e'; } /* '' */
.icon-direction:before { content: '\f124'; } /* '' */
.icon-calendar-empty:before { content: '\f133'; } /* '' */
.icon-rocket:before { content: '\f135'; } /* '' */
.icon-ticket:before { content: '\f145'; } /* '' */
.icon-dollar:before { content: '\f155'; } /* '' */
.icon-instagram:before { content: '\f16d'; } /* '' */
.icon-apple:before { content: '\f179'; } /* '' */
.icon-android:before { content: '\f17b'; } /* '' */
.icon-slack:before { content: '\f198'; } /* '' */
.icon-graduation-cap:before { content: '\f19d'; } /* '' */
.icon-building-filled:before { content: '\f1ad'; } /* '' */
.icon-child:before { content: '\f1ae'; } /* '' */
.icon-paw:before { content: '\f1b0'; } /* '' */
.icon-recycle:before { content: '\f1b8'; } /* '' */
.icon-tree:before { content: '\f1bb'; } /* '' */
.icon-share:before { content: '\f1e0'; } /* '' */
.icon-share-squared:before { content: '\f1e1'; } /* '' */
.icon-trash:before { content: '\f1f8'; } /* '' */
.icon-copyright:before { content: '\f1f9'; } /* '' */
.icon-eyedropper:before { content: '\f1fb'; } /* '' */
.icon-brush:before { content: '\f1fc'; } /* '' */
.icon-toggle-off:before { content: '\f204'; } /* '' */
.icon-toggle-on:before { content: '\f205'; } /* '' */
.icon-facebook-official:before { content: '\f230'; } /* '' */
.icon-mouse-pointer:before { content: '\f245'; } /* '' */
.icon-i-cursor:before { content: '\f246'; } /* '' */
.icon-hourglass-o:before { content: '\f250'; } /* '' */
.icon-hourglass-1:before { content: '\f251'; } /* '' */
.icon-hourglass-2:before { content: '\f252'; } /* '' */
.icon-hourglass-3:before { content: '\f253'; } /* '' */
.icon-hourglass:before { content: '\f254'; } /* '' */
.icon-chrome:before { content: '\f268'; } /* '' */
.icon-map:before { content: '\f279'; } /* '' */
.icon-commenting-o:before { content: '\f27b'; } /* '' */